$color-map-v01: (
  'primary-50': #EFF6FF, // RGB(239, 246, 255) | HSL: 214, 100%, 97%
  'primary-100': #DBEAFE, // RGB(219, 234, 254) | HSL: 214, 95%, 93%
  'primary-150': #BFDBFE, // RGB(191, 219, 254) | HSL: 213, 97%, 87%
  'primary-200': #93C5FD, // RGB(147, 197, 253) | HSL: 212, 96%, 78%
  'primary-250': #60A5FA, // RGB(96, 165, 250) | HSL: 213, 94%, 68%
  'primary-300': #3B82F6, // RGB(59, 130, 246) | HSL: 217, 91%, 60%
  'primary-350': #2563EB, // RGB(37, 99, 235) | HSL: 221, 83%, 53%
  'primary-400': #1D4ED8, // RGB(29, 78, 216) | HSL: 224, 76%, 48%
  'primary-450': #1E40AF, // RGB(30, 64, 175) | HSL: 226, 71%, 40%
);

$color-map-v02: (
  'primary-50': #FEFCE8, // RGB(254, 252, 232) | HSL: 55, 92%, 95%
  'primary-100': #FEF9C3, // RGB(254, 249, 195) | HSL: 55, 97%, 88%
  'primary-150': #FEF08A, // RGB(254, 240, 138) | HSL: 53, 98%, 77%
  'primary-200': #FDE047, // RGB(253, 224, 71) | HSL: 50, 98%, 64%
  'primary-250': #FACC15, // RGB(250, 204, 21) | HSL: 48, 96%, 53%
  'primary-300': #EAB308, // RGB(234, 179, 8) | HSL: 45, 93%, 47%
  'primary-350': #CA8A04, // RGB(202, 138, 4) | HSL: 41, 96%, 40%
  'primary-400': #A16207, // RGB(161, 98, 7) | HSL: 35, 92%, 33%
  'primary-450': #854D0E, // RGB(133, 77, 14) | HSL: 32, 81%, 29%
);

$color-map-v03: (
  'primary-50': #ECFDF5, // RGB(236, 253, 245) | HSL: 152, 81%, 96%
  'primary-100': #D1FAE5, // RGB(209, 250, 229) | HSL: 149, 80%, 90%
  'primary-150': #A7F3D0, // RGB(167, 243, 208) | HSL: 152, 76%, 80%
  'primary-200': #6EE7B7, // RGB(110, 231, 183) | HSL: 156, 72%, 67%
  'primary-250': #34D399, // RGB(52, 211, 153) | HSL: 158, 64%, 52%
  'primary-300': #10B981, // RGB(16, 185, 129) | HSL: 160, 84%, 39%
  'primary-350': #059669, // RGB(5, 150, 105) | HSL: 161, 94%, 30%
  'primary-400': #047857, // RGB(4, 120, 87) | HSL: 163, 94%, 24%
  'primary-450': #065F46, // RGB(6, 95, 70) | HSL: 163, 88%, 20%
);

$color-map-v04: (
  'primary-50': #FEF2F2, // RGB(254, 242, 242) | HSL: 0, 86%, 97%
  'primary-100': #FEE2E2, // RGB(254, 226, 226) | HSL: 0, 93%, 94%
  'primary-150': #FECACA, // RGB(254, 202, 202) | HSL: 0, 96%, 89%
  'primary-200': #FCA5A5, // RGB(252, 165, 165) | HSL: 0, 94%, 82%
  'primary-250': #F87171, // RGB(248, 113, 113) | HSL: 0, 91%, 71%
  'primary-300': #EF4444, // RGB(239, 68, 68) | HSL: 0, 84%, 60%
  'primary-350': #DC2626, // RGB(220, 38, 38) | HSL: 0, 72%, 51%
  'primary-400': #B91C1C, // RGB(185, 28, 28) | HSL: 0, 74%, 42%
  'primary-450': #991B1B, // RGB(153, 27, 27) | HSL: 0, 70%, 35%
);

$color-map-v05: (
  'primary-50': #FFF7ED, // RGB(255, 247, 237) | HSL: 33, 100%, 96%
  'primary-100': #FFEDD5, // RGB(255, 237, 213) | HSL: 34, 100%, 92%
  'primary-150': #FED7AA, // RGB(254, 215, 170) | HSL: 32, 98%, 83%
  'primary-200': #FDBA74, // RGB(253, 186, 116) | HSL: 31, 97%, 72%
  'primary-250': #FB923C, // RGB(251, 146, 60) | HSL: 27, 96%, 61%
  'primary-300': #F97316, // RGB(249, 115, 22) | HSL: 25, 95%, 53%
  'primary-350': #EA580C, // RGB(234, 88, 12) | HSL: 21, 90%, 48%
  'primary-400': #C2410C, // RGB(194, 65, 12) | HSL: 17, 88%, 40%
  'primary-450': #9A3412, // RGB(154, 52, 18) | HSL: 15, 79%, 34%
);

$color-map-v06: (
  'primary-50': #FDF2F8, // RGB(253, 242, 248) | HSL: 327, 73%, 97%
  'primary-100': #FCE7F3, // RGB(252, 231, 243) | HSL: 326, 78%, 95%
  'primary-150': #FBCFE8, // RGB(251, 207, 232) | HSL: 326, 85%, 90%
  'primary-200': #F9A8D4, // RGB(249, 168, 212) | HSL: 327, 87%, 82%
  'primary-250': #F472B6, // RGB(244, 114, 182) | HSL: 329, 86%, 70%
  'primary-300': #EC4899, // RGB(236, 72, 153) | HSL: 330, 81%, 60%
  'primary-350': #DB2777, // RGB(219, 39, 119) | HSL: 333, 71%, 51%
  'primary-400': #BE185D, // RGB(190, 24, 93) | HSL: 335, 78%, 42%
  'primary-450': #9D174D, // RGB(157, 23, 77) | HSL: 336, 74%, 35%
);

$color-map-v07: (
  'primary-50': #F9FAFB, // RGB(249, 250, 251) | HSL: 210, 20%, 98%
  'primary-100': #F3F4F6, // RGB(243, 244, 246) | HSL: 220, 14%, 96%
  'primary-150': #E5E7EB, // RGB(229, 231, 235) | HSL: 220, 13%, 91%
  'primary-200': #D1D5DB, // RGB(209, 213, 219) | HSL: 216, 12%, 84%
  'primary-250': #9CA3AF, // RGB(156, 163, 175) | HSL: 218, 11%, 65%
  'primary-300': #6B7280, // RGB(107, 114, 128) | HSL: 220, 9%, 46%
  'primary-350': #4B5563, // RGB(75, 85, 99) | HSL: 215, 14%, 34%
  'primary-400': #374151, // RGB(55, 65, 81) | HSL: 217, 19%, 27%
  'primary-450': #1F2937, // RGB(31, 41, 55) | HSL: 215, 28%, 17%
);

$color-map-v08: (
  'primary-50': #EEF2FF, // RGB(238, 242, 255) | HSL: 226, 100%, 97%
  'primary-100': #E0E7FF, // RGB(224, 231, 255) | HSL: 226, 100%, 94%
  'primary-150': #C7D2FE, // RGB(199, 210, 254) | HSL: 228, 96%, 89%
  'primary-200': #A5B4FC, // RGB(165, 180, 252) | HSL: 230, 94%, 82%
  'primary-250': #818CF8, // RGB(129, 140, 248) | HSL: 234, 89%, 74%
  'primary-300': #6366F1, // RGB(99, 102, 241) | HSL: 239, 84%, 67%
  'primary-350': #4F46E5, // RGB(79, 70, 229) | HSL: 243, 75%, 59%
  'primary-400': #4338CA, // RGB(67, 56, 202) | HSL: 245, 58%, 51%
  'primary-450': #3730A3, // RGB(55, 48, 163) | HSL: 244, 55%, 41%
);

$color-map-v09: (
  'primary-50': #F0FDFA, // RGB(240, 253, 250) | HSL: 166, 76%, 97%
  'primary-100': #CCFBF1, // RGB(204, 251, 241) | HSL: 167, 85%, 89%
  'primary-150': #99F6E4, // RGB(153, 246, 228) | HSL: 168, 84%, 78%
  'primary-200': #5EEAD4, // RGB(94, 234, 212) | HSL: 171, 77%, 64%
  'primary-250': #2DD4BF, // RGB(45, 212, 191) | HSL: 172, 66%, 50%
  'primary-300': #14B8A6, // RGB(20, 184, 166) | HSL: 173, 80%, 40%
  'primary-350': #0D9488, // RGB(13, 148, 136) | HSL: 175, 84%, 32%
  'primary-400': #0F766E, // RGB(15, 118, 110) | HSL: 175, 77%, 26%
  'primary-450': #115E59, // RGB(17, 94, 89) | HSL: 176, 69%, 22%
);

$color-map-v10: (
  'primary-50': #F5F3FF, // RGB(245, 243, 255) | HSL: 250, 100%, 98%
  'primary-100': #EDE9FE, // RGB(237, 233, 254) | HSL: 251, 91%, 95%
  'primary-150': #DDD6FE, // RGB(221, 214, 254) | HSL: 250, 95%, 92%
  'primary-200': #C4B5FD, // RGB(196, 181, 253) | HSL: 252, 95%, 85%
  'primary-250': #A78BFA, // RGB(167, 139, 250) | HSL: 255, 92%, 76%
  'primary-300': #8B5CF6, // RGB(139, 92, 246) | HSL: 258, 90%, 66%
  'primary-350': #7C3AED, // RGB(124, 58, 237) | HSL: 262, 83%, 58%
  'primary-400': #6D28D9, // RGB(109, 40, 217) | HSL: 263, 70%, 50%
  'primary-450': #5B21B6, // RGB(91, 33, 182) | HSL: 263, 69%, 42%
);

$color-map-v11: (
  'primary-50': #FAF5FF, // RGB(250, 245, 255) | HSL: 270, 100%, 98%
  'primary-100': #F3E8FF, // RGB(243, 232, 255) | HSL: 269, 100%, 95%
  'primary-150': #E9D5FF, // RGB(233, 213, 255) | HSL: 269, 100%, 92%
  'primary-200': #D8B4FE, // RGB(216, 180, 254) | HSL: 269, 97%, 85%
  'primary-250': #C084FC, // RGB(192, 132, 252) | HSL: 270, 95%, 75%
  'primary-300': #A855F7, // RGB(168, 85, 247) | HSL: 271, 91%, 65%
  'primary-350': #9333EA, // RGB(147, 51, 234) | HSL: 271, 81%, 56%
  'primary-400': #7E22CE, // RGB(126, 34, 206) | HSL: 272, 72%, 47%
  'primary-450': #6B21A8, // RGB(107, 33, 168) | HSL: 273, 67%, 39%
);

$color-map-v12: (
  'primary-50': #EFEBE9, // RGB(239, 235, 233) | HSL: 20, 16%, 93%
  'primary-100': #D7CCC8, // RGB(215, 204, 200) | HSL: 16, 16%, 81%
  'primary-150': #BCAAA4, // RGB(188, 170, 164) | HSL: 15, 15%, 69%
  'primary-200': #A1887F, // RGB(161, 136, 127) | HSL: 16, 15%, 56%
  'primary-250': #8D6E63, // RGB(141, 110, 99) | HSL: 16, 18%, 47%
  'primary-300': #795548, // RGB(121, 85, 72) | HSL: 16, 25%, 38%
  'primary-350': #6D4C41, // RGB(109, 76, 65) | HSL: 15, 25%, 34%
  'primary-400': #5D4037, // RGB(93, 64, 55) | HSL: 14, 26%, 29%
  'primary-450': #4E342E, // RGB(78, 52, 46) | HSL: 11, 26%, 24%
);

$color-map-v13: (
  'primary-50': #ECFEFF, // RGB(236, 254, 255) | HSL: 183, 100%, 96%
  'primary-100': #CFFAFE, // RGB(207, 250, 254) | HSL: 185, 96%, 90%
  'primary-150': #A5F3FC, // RGB(165, 243, 252) | HSL: 186, 94%, 82%
  'primary-200': #67E8F9, // RGB(103, 232, 249) | HSL: 187, 92%, 69%
  'primary-250': #22D3EE, // RGB(34, 211, 238) | HSL: 188, 86%, 53%
  'primary-300': #06B6D4, // RGB(6, 182, 212) | HSL: 189, 94%, 43%
  'primary-350': #0891B2, // RGB(8, 145, 178) | HSL: 192, 91%, 36%
  'primary-400': #0E7490, // RGB(14, 116, 144) | HSL: 193, 82%, 31%
  'primary-450': #155E75, // RGB(21, 94, 117) | HSL: 194, 70%, 27%
);

$color-map-v14: (
  'primary-50': #F8FAFC, // RGB(248, 250, 252) | HSL: 210, 40%, 98%
  'primary-100': #F1F5F9, // RGB(241, 245, 249) | HSL: 210, 40%, 96%
  'primary-150': #E2E8F0, // RGB(226, 232, 240) | HSL: 214, 32%, 91%
  'primary-200': #CBD5E1, // RGB(203, 213, 225) | HSL: 213, 27%, 84%
  'primary-250': #94A3B8, // RGB(148, 163, 184) | HSL: 215, 20%, 65%
  'primary-300': #64748B, // RGB(100, 116, 139) | HSL: 215, 16%, 47%
  'primary-350': #475569, // RGB(71, 85, 105) | HSL: 215, 19%, 35%
  'primary-400': #334155, // RGB(51, 65, 85) | HSL: 215, 25%, 27%
  'primary-450': #1E293B, // RGB(30, 41, 59) | HSL: 217, 33%, 17%
);
